body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    gap: 0;
    border: 2px solid black;
    margin-top: 20px;
}

.chessboard .square {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.chessboard .light {
    background-color:rgb(218, 179, 129);
}

.chessboard .dark {
    background-color: rgb(128, 39, 39);
}

.piece {
    width: 100%;
    height: 100%;
}

.selected {
    border: 2px solid yellow;
}

h1 {
    margin-bottom: 20px;
}
